.page-container {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.page-container .left-name-list {
  background-color: #191970;
  color: aliceblue;
  width: 20vw;
  height: inherit;
  align-items: center;
  overflow: scroll;
}

body {
  margin: unset;
}

.page-container .left-name-list .header h3 {
  display: flex;
  justify-content: center;
  font-weight: 200;
  font-size: small;
}

.page-container .left-name-list .names-li {
  row-gap: 0.5 rem;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.page-container .left-name-list .names-li h2 {
  width: fit-content;
}

.page-container .left-name-list .names-li .weight-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container .left-name-list .names-li .weight-wrapper button {
  height: 1em;
  width: 1em;
  display: flex;
  justify-content: space-between;
}

.page-container .left-name-list .names-li .weight-wrapper #plusbtn {
  background-color: red;
  color: aliceblue;
  border: none;
  justify-content: center;
  align-items: center;
}
.page-container .left-name-list .names-li .weight-wrapper #minusbtn {
  background-color: rgb(40, 197, 40);
  color: aliceblue;
  border: none;
  justify-content: center;
  align-items: center;
}

.page-container .right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80vw;
}

.page-container .right-container .wrds-btn {
  justify-self: center;
}
.page-container .right-container .wrds-btn h1 {
  animation: normal;
  @keyframes example {
    from {
      background-color: red;
    }
    to {
      background-color: yellow;
    }
  }
}

.page-container .right-container .wrds-btn button {
  grid-row: 3;
  height: 40px;
  width: 40vw;
  background-color: #191970;
  color: aliceblue;
  border: none;
}

.page-container .right-container .wrds-btn button:hover {
  cursor: grabbing;
}
